* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.titulo{
    background-color: #F3EEEA;
    width: 100%;
    height: auto;
}

h1{
    /* background-color: rgb(240, 240, 240); */ 
    color: #776B5D;
    font-size: 28px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #B0A695;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(153, 147, 147); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 125, 125); 
  }

.scrollbar{
    overflow: auto;
    overflow-x: hidden;
}

.conteiner{
    /* background-color: aqua; */
    width: 100%;
    height: 810px;
    /* position: relative; */
    display: flex;
}

.menu{
    /* background-color: beige; */
    width: 3.4%;
    /* width: 20%; */
    height: 100%;
    display: flex;
    /* position: relative; */
}

/* Menu de img grandotas para elegir que solo sale cuando se da click */
.imgDataPreview{
    background-color: #F3EEEA;
    width: 0%;
    height: 100%;
    /* position: absolute; */
}

.dataMenu{
    width: 100%;
    height: 100%;
    /* display: none; */
}

.label{
    font-size: x-small;
}

.top{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgTitle{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: xx-large;
}

.btnSexo{
    background-color: #EBE3D5;
    height: 30px;
    width: 70px;
    margin: 0px 5px;
    border-radius: 10px;
    border: 1px solid #776B5D;
    cursor: pointer;
    font-size: x-small;
}

.masc{
    /* background-color: aquamarine; */
    width: 100%;
    height: 95%;
    display: flex;
}

.fem{
    width: 100%;
    height: 95%;
    display: flex;
}

.izq {
    /* background-color: rgb(217, 0, 255); */
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  
.der {
    /* background-color: brown; */
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
  }

.imgData{
    /* border: 1px solid #000; */
    /* background-color: #eee4e4; */
    border-radius: 15px;
    width: 70%;
    cursor: pointer;
    margin-top: 7px;
}

/* Parte del menu izquierda de las img chiquitas */
.sideMenuPreview{    /* Este contenedor incluye la scrollbar */
    background-color: #F3EEEA;
    height: 100%;
    width: 100%;
    /* width: 17%; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: start;
}

.imgsMenuPreview{   
    /* background-color: beige; */
    width: 90%;
    height: 100%;
    /* float: none;
    display: flex;
    flex-wrap: wrap; */
}

.imgPreview{    /* Y ya estas son las imagenes como tal */
    background-color: #F3EEEA;
    width: calc(100%/1);
    /* height: 52px; */
    height: 55px;
    border: 2px solid #776B5D;
    margin: 3px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menuPiel{
    cursor: pointer;
}

#menuAcc{
    cursor: pointer;
}

.imgPrev{
    width: 90%;
    /* height: 100%; */
    /* box-sizing: border-box; */
    object-fit: contain;
}



/* Parte del canvas mas la parte de interaccion */
.imgInteraction{
    background-color: #EBE3D5;
    height: 100%;
    width: 76.6%;
    /* display: flex; */
}

.canvasSec{
    /* background-color: #F1E5D1; */
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas{
    background-color: #FFF;
    width: 70%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCanvas{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.optionsBarSec{
    /* background-color: wheat; */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optConteiner{
    background-color: aliceblue;
    width: 280px;
    /* width: 490px; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    animation: expandOpt 0.5s forwards;
    animation-delay: 1s;
}

.optionsBar{
    background-color: aliceblue;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.hidOpt{
    right: -490px;
}

.optDiv{
    background-color: #F3EEEA;
    box-sizing: border-box;
    border: 2px solid #776B5D;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    background-size: cover;
    cursor: pointer;
}

#translate{
    background-image: url('https://Karlxz.github.io/img/translate.png');
}

#subTranslate{
    background-image: url('https://Karlxz.github.io/img/translate.png');
    /* margin: ; */
}

#resize{
    background-image: url('https://Karlxz.github.io/img/resize.png');
}

#subResize{
    background-image: url('https://Karlxz.github.io/img/resize.png');
    /* margin: ; */
}

#rotate{
    background-image: url('https://Karlxz.github.io/img/rotate.png');
}

#subRotate{
    background-image: url('https://Karlxz.github.io/img/rotate.png');
}

#opacity{
    background-image: url('https://Karlxz.github.io/img/opacity.png');
}

#upTrans{
    background-image: url('https://Karlxz.github.io/img/up.png');
}

#downTrans{
    background-image: url('https://Karlxz.github.io/img/down.png');
}

#leftTrans{
    background-image: url('https://Karlxz.github.io/img/left.png');
}

#rightTrans{
    background-image: url('https://Karlxz.github.io/img/right.png');
}

#shrinkDownRes{
    background-image: url('https://Karlxz.github.io/img/shrinkDown.png');
}

#expandUpRes{
    background-image: url('https://Karlxz.github.io/img/shrinkUp.png');
}

#shrinkInRes{
    background-image: url('https://Karlxz.github.io/img/shrinkIn.png');
}

#expandOutRes{
    background-image: url('https://Karlxz.github.io/img/shrinkOut.png');
}

#shrinkRes{
    background-image: url('https://Karlxz.github.io/img/shrink.png');
}

#expandRes{
    background-image: url('https://Karlxz.github.io/img/expand.png');
}

#rotateRight{
    background-image: url('https://Karlxz.github.io/img/rotateRight.png');
}

#rotateLeft{
    background-image: url('https://Karlxz.github.io/img/rotateLeft.png');
}




.otherOptions{
    background-color: #B0A695;
    height: 100%;
    width: 20%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.other{
    background-color: antiquewhite;
    height: calc(100%/2);
    width: 100%;
}

.layersMenu{
    height: calc(100%/2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.layerTitleCont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.layerTitle{
    font-size: large;
    margin: 5px 0px;
}

.layerCont{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}

.layer{
    background-color: azure;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px 0px;
    border: solid #776B5D;
    box-sizing: border-box;
    cursor: pointer;
}

.layerImg{
    height: 40px;
    width: 50px;
    object-fit: contain;
    border: 2px dashed #B0A695;
    box-sizing: border-box;
    margin-left: 2.5px;
}

.layerNameCont{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layerName{
    margin-left: 20px;
}

#photopea{
    display: none;
}



















.list {
  /* display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%; */
  /* gap: 10px 0; */
}

.list__item {
  /* width: 100%; */
  /* background: white; */
  /* padding: 15px; */
  /* border-radius: 5px; */
  /* color: #001d29; */
  /* font-weight: 500;
  font-size: 18px; */
  /* box-shadow: 0 4px 6px -1px #001d2910, 0 2px 4px -2px #001d2910; */
  /* display: flex;
  align-items: center; */
  position: relative;
  will-change: transform;
}

.drag-handle {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-handle::after {
  content: '⠿';
  font-size: 15px;
  color: #00000099;
}

.list__item.is-idle .drag-handle {
  cursor: grab;
}

.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}

.list__item.is-draggable {
  z-index: 10;
}













/* #data{
    background-color: brown;
    width: ;
} */

/* .editor{
    background-color: aquamarine;
    width: 100%;
    height: auto;
} */

/* #photopea{
    width: 100%;
    height: 593px;
} */

