.conteiner{
  /* background-color: #f5f557; */
  /* height: 800px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
    /* background-color: chartreuse; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: initial; */
    float: left;
    /* height: 100%; */
    /* width: 10%; */
    flex: 1;
    text-align:center;
    border-right: solid;
    border-width: 3px;
    border-color: #000000;
  }

  .nothing{
    /* background-color: aquamarine; */
    /* flex: 1; */
    float: right;
    height: 100%;
    width: 80%;
    text-align:center;
  }

  .translate{
    /* background-color: aquamarine; */
    /* flex: 1; */
    float: right;
    height: 100%;
    width: 80%;
    text-align:center;
  }

  .resize{
    /* background-color: aquamarine; */
    /* flex: 1; */
    float: right;
    height: 100%;
    width: 80%;
    text-align:center;
  }

  .btnOption{
    display: inline-block;
    width: 80%;
    padding-top: 75%;
    /* box-sizing: border-box; */
    cursor: pointer;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px #000000;
    margin: 10px auto;
  }

  .btnOption:hover {background-color: #dbe3e49f}

  .btnOption:active {
    background-color: #b9bec09f;
    transform: translateY(4px);
  }

  .actionbtn{
    display: inline-block;
    width: 15%;
    padding-top: 14.5%;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    /* box-shadow: 0 2px #000000; */
    /* margin-top:15px; */
  }

  .actionbtn:hover {background-color: #dbe3e49f}

  .actionbtn:active {
    background-color: #b9bec09f;
    /* transform: translateY(4px); */
  }

  #up{
    background-image: url('https://Karlxz.github.io/img/arrow.png');
    transform: rotate(-90deg);
    background-size: cover;
    background-position: center;
  }

  #right{
    background-image: url('https://Karlxz.github.io/img/arrow.png');
    transform: rotate(0deg);
    background-size: cover;
    background-position: center;
    margin-left: 25px;
  }

  #left{
    background-image: url('https://Karlxz.github.io/img/arrow.png');
    transform: rotate(180deg);
    background-size: cover;
    background-position: center;
    margin-right: 25px;
  }

  #down{
    background-image: url('https://Karlxz.github.io/img/arrow.png');
    transform: rotate(90deg);
    background-size: cover;
    background-position: center;
  }

  #shinkHor{
    background-image: url('https://Karlxz.github.io/img/shrinkArrow.png');
    background-size: cover;
    background-position: center;
  }

  #translate{
    background-image: url('https://Karlxz.github.io/img/translate.png');
    background-size: cover;
    background-position: center;
  }

  #resize{
    background-image: url('https://Karlxz.github.io/img/resize.png');
    background-size: cover;
    background-position: center;
  }

  #rotate{
    background-image: url('https://Karlxz.github.io/img/rotate.png');
    background-size: cover; 
    background-position: center;
  }

  #extra{
    background-image: url('https://Karlxz.github.io/img/extra.png');
    background-size: cover;
    background-position: center;
  }

  /* .translate{
    background-color: #000000;
  } */