.imgData{
    border: 1px none #FFF;
    border-radius: 15px;
    width: 70%
}

.buttonMenu{
    display: inline-block;
    padding: 15px 0px;
    font-size: 13px;
    cursor: pointer;
    width: 75%;
    text-align: center;
    color: #fff;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0px #000000;
    margin: 10px auto;
}

.exitBtn{
  display: inline-block;
    padding: 15px 50px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #404090;
    border-radius: 15px;
    box-shadow: 0 0px #000000;
    margin: 10px auto;
}

.exitBtn:active{
  background-color: #0413169f;
  transform: translateY(4px);
}

.buttonMenu:hover {background-color: #0413169f}

.buttonMenu:active {
    background-color: #0413169f;
    transform: translateY(4px);
  }
  
.izq {
    /* background-color: chartreuse; */
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  
.der {
    /* background-color: beige; */
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
  }

.top{
    /* background-color: aqua; */
    float: none;
    height:75px;
    text-align: left;
}

/* .prueba {
    background-color: #803cb9;
    width: 300px;
    height: 100px;
} 

div.div1 {
  background: #999;
  float: left;
  height: 100%;
  width: auto;
}

div.div2 {
  background: #666;
  height: 100%;
}*/
